<section class="index-page">
 <img src="{{photos.0.value}}" class="avatar">
  <h1>
    Hello
    {{name.givenName}}
    {{name.familyName}}
    !
  </h1>
 
<div>
  <a href="/user/profile">Your profile</a>
  <a href="/user/profile/settings">Settings</a>
</div>
</section>